{% include "header.html" %}

{% block body %}

<div class="container">

    <div class="row">

        <div class="col md-12">

            <!-- <h2>Student List <button type="button" class="btn btn-success  pull-right" data-toggle="modal"
                    data-target="#myModal">Add Student Data</button></h2> -->

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" onclick="rederecionar_alunos()">&times;</button>

                        <h4 class="modal-title">Update Information</h4>

                    </div>

                    <div class="modal-body">

                            <div class="container">
    
                                <p>{{aluno['nome']}}</p>
                                <p>{{aluno['numero']}}</p>
    
                            </div>
    
                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <button class="btn btn-danger btn-xs" type="button" onclick="eleminar_aluno()">Eleminar</button>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="rederecionar_alunos()">Fechar</button>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

<button type="button" class="btn btn-secondary"  pull-right" data-toggle="modal"
                    data-target="#myModal" onclick="rederecionar('http://127.0.0.1:3000/v1.0/')" >Voltar ao Menu Inicial</button>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename ='js/bootstrap.min.js')}}"></script>

<script type="text/javascript">
    function eleminar_aluno(){
        //console.log("Entrou aqui eleminar_aluno!!!")
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:80/v1.0/aluno/delete/{{aluno['numero']}}",
            data: {'_method': 'delete'},
            success: function(data){
                location.href = "http://127.0.0.1:3000/v1.0/alunos/"
            },
            error(jqXHR,JQueryXHR,errorThrown){
                console.log(jqXHR)
                console.log(JQueryXHR)
                console.log(errorThrown)
            }
        })
    }
    function rederecionar(location_href){
        location.href = location_href
    }
</script>