{% include "header.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <a href="http://127.0.0.1:3000/v1.0/alunos/" class="btn btn-primary" >Alunos</a>
    </div>
    <div class="row">
        <a href="http://127.0.0.1:3000/v1.0/perguntas/" class="btn btn-primary" >Perguntas</a>
    </div>
    <div class="row">
        <a href="http://127.0.0.1:3000/v1.0/respostas/" class="btn btn-primary">Respostas</a>
    </div>
    <div class="row">
        <a href="http://127.0.0.1:3000/v1.0/resultados/" class="btn btn-primary">Resultados</a>
    </div>
</div>

{% endblock %}