{% include "header.html" %}

{% block body %}

<div class="container">

    <div class="row">

        <div class="col md-12">

            <!-- <h2>Student List <button type="button" class="btn btn-success  pull-right" data-toggle="modal"
                    data-target="#myModal">Add Student Data</button></h2> -->

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" onclick="rederecionar('http://127.0.0.1:3000/v1.0/respostas/')">&times;</button>

                        <h4 class="modal-title">resposta {{resposta['resposta_id']}}</h4>

                    </div>

                    <div class="modal-body">

                            <div class="container">
    
                                <p>{{resposta['resposta_sql']}}</p>
                                <p>{{resposta['aluno_aluno_id']}}</p>
                                <p>{{resposta['pergunta_pergunta_id']}}</p>
    
                            </div>
    
                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <button class="btn btn-danger btn-xs" type="button" onclick="eleminar_resposta()">Eleminar</button>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="rederecionar('http://127.0.0.1:3000/v1.0/respostas/')">Fechar</button>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

<button type="button" class="btn btn-secondary"  pull-right" data-toggle="modal"
                    data-target="#myModal" onclick="rederecionar('http://127.0.0.1:3000/v1.0/')" >Voltar ao Menu Inicial</button>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename ='js/bootstrap.min.js')}}"></script>

<script type="text/javascript">
    function eleminar_resposta(){
        //console.log("Entrou aqui eleminar_aluno!!!")
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:80/v1.0/resposta/delete/{{resposta['resposta_id']}}",
            data: {'_method': 'delete'},
            success: function(data){
                location.href = "http://127.0.0.1:3000/v1.0/respostas/"
            },
            error(jqXHR,JQueryXHR,errorThrown){
                console.log(jqXHR)
                console.log(JQueryXHR)
                console.log(errorThrown)
                alert(jqXHR)
            }
        })
    }
    function rederecionar(location_href){
        location.href = location_href
    }
</script>