{% include "header.html" %}

{% block body %}
<div class="container">

    <div class="row">

        <div class="col md-12">

            <h2>Lista de Respostas<button type="button" class="btn btn-success  pull-right" data-toggle="modal"
                    data-target="#myModal" onclick="rederecionar('http://127.0.0.1:3000/v1.0/respostas/insert')" >Adicionar Nova Resposta</button></h2>

            <table class="table table-striped">
                <tr>
                    <th>Serial</th>
                    <th>Resposta SQL</th>
                    <th>Aluno_Aluno_ID</th>
                    <th>Pergunta_Pergunta_ID</th>
                </tr>
                {% for row in respostas %}
                <tr>
                    <td>{{row['resposta_id']}}</td>
                    <td>{{row['resposta_sql']}}</td>
                    <td>{{row['aluno_aluno_id']}}</td>
                    <td>{{row['pergunta_pergunta_id']}}</td>
                    <td>
                        <a href="/v1.0/respostas/update/{{row['resposta_id']}}" class="btn btn-warning btn-xs" data-toggle="modal"
                            >Editar</a>
                        <!-- <a data-target="#modaledit">Editar</a> -->
                        <a href="/v1.0/respostas/delete/{{row['resposta_id']}}" class="btn btn-danger btn-xs"
                            onclick="return confirm('Tem a certeza que quer eleminar?')">Eleminar</a>
                        <a href="/v1.0/respostas/resposta/{{row['resposta_id']}}" class="btn btn-secondary">Ver Resposta</a>
                    </td>
                </tr>

        </div>


        {% endfor  %}
        </table>

    </div>

</div>

</div>

</div>
{% endblock %}

<button type="button" class="btn btn-secondary"  pull-right" data-toggle="modal"
                    data-target="#myModal" onclick="rederecionar('http://127.0.0.1:3000/v1.0/')" >Voltar ao Menu Inicial</button>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

<script>
    function rederecionar(location_href){
        location.href = location_href
    }
</script>